.main-container {
  display: flex;
  flex-direction: column;
}

.create-task-container {
  background-color: #1a171d;
  min-height: 50vh;
  padding: 38px;
}
.tags-container {
  background-color: #000000;
  min-height: 50vh;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .main-container {
    flex-direction: row;
    height: 100vh;
  }
  .create-task-container {
    height: 100%;
    width: 35%;
    padding-top: 50px;
  }
  .tags-container {
    height: 100%;
    width: 65%;
    padding-top: 50px;
  }
}

.create-task-heading {
  color: #f3aa4e;
  font-weight: 450;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
}

label {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 8px;
}

input {
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

select {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

.sub-btn {
  background-color: #f3aa4e;
  color: #ffffff;
  height: 33px;
  width: 80px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
}

.tags-heading {
  font-size: 30px;
  color: #ffffff;
  font-weight: 450;
}

.tabs-container {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tabs-container {
    width: 80%;
  }
}

.tab {
  color: #fff;
  border: 1px solid #f3aa4e;
  margin: 5px 10px 8px 0px;
  font-size: 13px;
  border-radius: 50px;
  font-weight: 500;
}

.btn {
  border-radius: 50px;
  border: none;
  padding: 8px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.not-active-tab {
  background-color: transparent;
  color: #ffffff;
}

.active-tab {
  color: #ffffff;
  background-color: #f3aa4e;
}

.msg-container {
  height: 20vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg {
  color: #f1f5f9;
  font-size: 25px;
  font-weight: 500;
}

.list-container {
  margin-top: 20px;
}
